:root{
    --main-title-color: #ffffff;
    --secondary-title-color: #212121;
    --main-text-color: #757575;
    --accent-color: #2196F3;
}
*,html{
    box-sizing: border-box;
}
img{
    height: auto;
    width: 100%;
    display: block;
}
body{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
p, h1, h2, h3, h4, h5, h6{
    margin-top: 0;
    margin-bottom: 0;
}
ul{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.portfolio-container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.portfolio-wrapper
{
    display: flex;
}
.navigation-list{
    display: flex;
    align-items: center; 
}
.button-list{
    display: flex;
    margin-bottom: 50px;
    justify-content: center;    
}
.portfolio-list{
    flex-wrap: wrap;
    display: flex;
    position: relative;
}
.header .container{
    display: flex;
    align-items: center;
}
.header-navigation{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.header{
    border-bottom: 1px solid #ECECEC;    
}
.contacts-list{
    margin-left: auto;
    display: flex;
}
.navigation-item:not(:last-child){
    margin-right: 50px;
}
.contacts-item:not(:last-child){
    margin-right: 50px;
}
.logo{
    margin-right: 93px;
}
.pre-logo{
font-family: Raleway;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--accent-color);
}
.sub-logo{
font-family: Raleway;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--secondary-title-color);
}
.sub-logo-second{
font-family: Raleway;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #ffffff;
}
.footer-item:not(:last-child){
    margin-bottom: 9px;
}
.present-page{
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}
.present-page::after{
    content: '';
    position: absolute;
    top: 45px;
    display: block;
    width: 48px;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
}
.present-page-portfolio::after{
    width:78px ;
}
.header-link{
display: block;
padding: 32px 0;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color:var(--secondary-title-color);

transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover, 
.header-link:focus{
color: var(--accent-color);
}
.contacts-link{
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.envelope{
    fill: currentColor;
    margin-right: 10px;
}
.telephone{
    fill: currentColor;
    margin-right: 10px;
}
.contacts-link:hover,
.contacts-link:focus{
color: var(--accent-color);
}
.hero{
text-align: center;
padding: 200px 0;
max-width: 1600px;
margin: 0 auto;
background-color: #2F303A;
background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),url(../images/hero.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
.hero-section{
display: flex;
flex-direction: column;
align-items: center;
padding-top: 200px;
padding-bottom: 200px;
}
.main-button{
width: 200px;
height: 50px;
border: transparent;   
background: var(--accent-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
cursor: pointer;
}
.button-text{
font-weight: 700;
font-size: 16px;
line-height: 1.87;
text-align: center;
letter-spacing: 0.06em;
color: #ffffff;
}
.hero-title{
margin-bottom: 30px;
max-width: 700px;
text-transform: uppercase; 
text-align: center;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
color: #FFFFFF;
margin-left: auto;
margin-right: auto;
}
.team-part{
background-color: #F5F4FA;;
}
.work-logo-item{
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.regular-customers-list{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.customers-link{
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    align-items: center;
    display: flex;
    justify-content: center;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-logo{
    fill: #AFB1B8;
    
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}
.customers-link:hover,
.customers-link:focus{
    border-color: #2196F3;
}
.customers-link:hover>.customers-logo,
.customers-link:focus>.customers-logo{
    fill: #2196F3;
}
.main-title{
text-align: center;
font-weight: 700;
font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
color: var(--secondary-title-color);
}
.advantage-list{
display: flex;
}
.advantage-item:not(:last-child){
margin-right: 50px;
}
.advantage-main-title{
    display: none;
}
.advantage-title{
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--secondary-title-color);
}
.advantage-text{
margin-top: 10px;
max-width: 270px;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--main-text-color);
}
.team-title{
margin-bottom: 10px;
font-weight: 500;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.03em;
color:var(--secondary-title-color);
}
.work-section{
    padding-top: 0;
}
.work-list{
display: flex;
justify-content: space-between;
}
.work-title{
margin-bottom: 50px;
}
.team-list{
display: flex;
margin-top: 50px;
}
.team-card-list{
text-align: center;
padding: 30px 0;
}
.social-card-list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}
.social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color:  #ffffff;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon{
    fill: #AFB1B8;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-card-item:not(:last-child){
    margin-right: 10px;
}
.social-link:hover,
.social-link:focus{
    background-color: #2196F3;
}
.social-link:hover>.social-icon,
.social-link:focus>.social-icon{
    fill: #ffffff;
}

.team-item:not(:last-child){
margin-right: 30px;
}
.team-item{
max-width: 270px;      
background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.portfolio-card{
align-items: left;
margin-right: 30px;
margin-bottom: 30px;
background: #FFFFFF;
}
.box-overlay{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 370px;
    height: 294px;
    overflow: hidden; 
}
.portfolio-link:hover .card-overlay{
    transform: translateY(0);
}
.card-overlay{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms ease;    
}
.card-overlay > p{
    font-weight: normal;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: #FFFFFF;    
}
.portfolio-link{
    display: block;
}
.portfolio-link:hover,
.portfolio-link:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card:nth-child(3n){
margin-right: 0;
}
.portfolio-card:nth-child(n+6){
margin-bottom: 0;
}
.card-text{
border: 1px solid #EEEEEE;
padding: 24px 20px;
position: relative;
z-index: 1;
}
.profession{
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--main-text-color);
}
.address{
font-style: normal;
display: flex;
align-items: baseline;    
}
.address-rout{
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
}
.footer-info{
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.footer{
    padding: 60px 0;
    background-color: #2F303A;
}
.footer-container{
    max-width: 1600px;
    align-items: baseline;
    display: flex;
    padding-left: 205px;
    padding-right: 15px;
    margin: 0 auto;
}
.footer-cosial-block{
    margin-left: 45px;
}
.footer-logo{
    margin-bottom: 20px;
}
.footer-wrapper{
    display: flex;
    flex-direction: column;
}
.footer-list{
    margin-right: 70px;
}
.footer-title{
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px; 
}
.footer-logo-list{
    display: flex;
}
.footer-social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus{
    background-color: #2196F3;
}
.footer-social-icon{
    fill: #ffffff;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-logo-item:not(:last-child){
    margin-right: 10px;
}
.twitter{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #2196F3;
}
.project-title{
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--secondary-title-color);
}
.project-text{
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--main-text-color);
}
.button-item:not(:last-child){
    margin-right: 8px;
}
.btn
{  
    font-weight: 500;
    font-size: 16px;
    background: #F5F4FA;
    border-radius: 4px;
    padding: 6px 22px;
    border: 2px solid #F5F4FA;
    cursor: pointer;

    transition-property: color,background-color,box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus{
    color: #FFFFFF;
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    /* border-radius: 4px; */
}
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
}
.backdrop.backdrop.is-hidden .modal{
    transform: translate(-50%,-50%) scale(0.9);
}
.modal{
    padding: 40px;
    position: absolute;
    top: 50%;
    left:50%;
    /* height: 581px; */
    width: 528px;
    padding-bottom: 40px;   
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform:  translate(-50%,-50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);       
}
.icon-close{
    width: 18px;
    height: 18px;
}
.icon-send{
}
.close-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;
    border-radius:50%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    cursor: pointer;
}
.close-button:hover,
.close-button:focus{
    fill: #2196F3;
}
.modal-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
}
.footer-form{
    margin-left: 90px;
}
.subscribe-button{    
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-left: 12px;
    padding-left: 28px;
    padding-right: 28px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.subscribe-button-text{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    text-align: center;
    margin-right:10px;
}
.footer-form-wrapper{
    display: flex;
    flex-direction: row;
}
.footer-email-form{
    background: #2F303A;
    width: 358px;
    height: 50px;
    padding-left: 16px; 
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}
.form-container{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-container input{
    margin: 0 auto;
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 40px;
}
.form-container input:last-child{
    width: 448px;
    height: 120px;
    border: 1px solid #2196F3;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 16px;
    align-items: start;
}
.form-container input::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
.form-container:last-child{
    margin-bottom: 20px;
}
.form-box:focus + .form-svg{
    fill: #2196f3;
}
.form-box:focus {
    outline: none;
    border: 1px solid #2196f3;
}
.form-case{
    position: relative;
}
.input-comment{
    resize: none;
    height: 120px;
    padding: 12px 16px;
    text-align: start;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
}
.form-svg{
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}
.form-name{
    text-align: left;
    margin-bottom: 4px;
}
.send-button{
    width: 200px;
    height: 50px;
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.send-button-text{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    text-align: center;
}
.form-title{
font-weight: 400;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;
color: #757575;
}
.checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.checkbox-label{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.policy{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 15px;
    display: inline-block;    
    border: 2px solid #212121;;
    border-radius: 2px;
}
.checkbox-form{
    opacity: 0;
    pointer-events: none;
}
.checkbox-form:checked +.policy{
    background-color: #2196F3;
    border-color: #2196F3;
    border-radius: 2px;
}
.checkbox-icon{
    margin-top: 1px;
    width: 11px;
    height: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.conditions-text{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
margin-left: 7px;
}
.contract{
    text-decoration: underline;
    color: #2196F3;
}